<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Контакты</title>
    <style>
        body { font-family: Arial; text-align: center; margin-top: 100px; }
        a { margin: 0 15px; font-size: 18px; color: #007BFF; text-decoration: none; }
    </style>
</head>
<body>
    <h1>Контакты</h1>
    <p>Анастасия Домникова<p>
    <p>Коуч и психолог с профильным высшим образованием</p>
    <p>Диплом МИП по профилю "Практическая психология и коучинг"</p>
    <p>Телеграм - 123</p>
    <p>МАКС - 987</p>
    <a href="/">На главную</a>
</body>
</html>