<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Резюме</title>
    <style>
        body { font-family: Arial; text-align: center; margin-top: 100px; }
        a { margin: 0 15px; font-size: 18px; color: #007BFF; text-decoration: none; }
    </style>
</head>
<body>
    <h1>Резюме</h1>
    <p>Эта страничка рассказывает об опыте автора страницы.<p>
    <p>Мы можем представить его кратко или подробно, в зависимости от дальнейшего развития ситуации</p>
    <a href="/">На главную</a>
</body>
</html>